<ion-view title="Signup" id="page3" style="background-color:#CE383E;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <label class="item item-select" name="gender">
                <span class="input-label">Gender</span>
                <select>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Region</span>
                <select>
                    <option>Banten</option>
                    <option>Jakarta</option>
                    <option></option>
                </select>
            </label>
            <button id="signup-button2" class="button button-energized  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>